.experimentDetail
{
    width:70vw;
}

.buttons_panel
{
    display: flex;
    margin: 10px auto;
    width: 70%;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
    justify-content: space-between;
}
.buttons_panel_delete
{
    background: rgb(118, 14, 14);
}