.experimentDetail
{
    width:70vw;
    margin: 0 auto;
}

.buttons_panel
{
    display: flex;
    margin: 10px auto;
    width: 70%;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
    justify-content: space-between;
}

.buttons_panel button
{
    height: 30px;
}
.buttons_panel_delete
{
    background: rgb(209, 15, 15);
    color: white;
}