.experiment_form_all
{
    display: flex;
    flex-direction: column;
    /* width: 90vw; */
    margin: 0 auto;
}

.experiment_form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 95%;
}

.experiment_form button
{
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
    margin: 0 auto;
    height: 40px;
    /* background: rgb(33, 33, 33); */
    border-color: var(--border);
}

.experiment_form_desc
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.experiment_form_desc input
{
    width: 110px;
}
.experiment_form_desc textarea
{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 40vw;
    resize: vertical;
    background-color: var(--bg);
    color: var(--color);
    border-radius: 5px;
}
.experiment_form_desc input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}

.experiment_form_reagents
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    margin: 0 auto;
}

.experiment_form_reagents button
{
    scale: 0.5;
    width: auto;
    color: white;
    background: rgb(188, 17, 17);
    
}
.experiment_form_reagents_add button
{
    height: 40px;
}