.experimentList
{
    width: 95vw;
}
.experimentList_table
{

}
.experimentList_tr
{
    display: flex;
    width: 90vw;
    flex-direction: row;
    justify-content: space-evenly;
}
.experimentList_tr_desc, .experimentList_tr_obs
{
    width: 30%;
}

.experiment_id
{
    width: 3%;
}
.experiment_date
{
    width: 5%;
}

.experiment_desc, .experiment_obs
{
    width: 20%;
}

.experiment_name
{
    width: 10%;
}
