#root
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* border: 1px solid white;
    border-radius: 5px;
    width: 35vw;
    height: 30vh; */
    text-align: center;
    background: var(--bg);
}

.login_form
{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.login_inputs
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.login_inputs input
{
    background: var(--bg);
    color: var(--color);
}

.login_inputs button
{
    margin-top: 10px;
    height: 30px;
    width: 60px;
    background: var(--bg);
    color: var(--color);
}

.login_inputs ::placeholder
{
    text-align: center;
}