/* src/components/Navbar.css */
.navbar {
    top: 0;
    width: 100%;
    padding: 10px 20px;
    /* background-color: #f8f9fa; */
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 0;
}

.navbar h3 {
    margin: 0;
    /* color: #333; */
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-under
{
    display: flex;
    justify-content: space-between;
}

.navbar-links a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.navbar-links a:hover {
    color: #0056b3;
}

.navbar-user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-logout-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.navbar-logout-btn:hover {
    background-color: #c82333;
}